@use "sass:math";

// Подключение миксинов ===========================================================================================================================================================================================================================================================================
@import "base/mixins";

// Подключение шрифтов ===========================================================================================================================================================================================================================================================================
//&display=swap - добавить при подключении через плагин
@import url(https://fonts.googleapis.com/css?family=Lora:regular,500,600,700,italic&display=swap);
@import url(https://fonts.googleapis.com/css?family=Exo+2:300,regular,600&display=swap);

// Подключить если есть локальные файлы шрифтов
@import "fonts/fonts";

// Подключение иконочных шрифтов ==============================================================================================================================================================================================================================================================================
// Подключить если есть файл иконочного шрифта
@import "fonts/icons";

// Шрифт по умолчанию ==============================================================================================================================================================================================================================================================================
$fontFamily: "";
$fontSize: rem(18); // где 18(px) - размер шрифта по умолчанию из макета

// Основные цвета
$mainColor: #f6f5f5; // Цвет шрифта по умолчанию
$bgColor: #191919;
$blueColor: #90b3cc;

// НАСТРОЙКИ ===============================================================================================================================================================================================================================================================================================
// Минимальная ширина страницы
$minWidth: 320;
// Ширина полотна (макета)
$maxWidth: 1920;
// Ширина ограничивающего контейнера (0 = нет ограничения)
$maxWidthContainer: 1040;
// Общий отступ у контейнера
// (30 = по 15px слева и справа, 0 = нет отступа)
$containerPadding: 30;

// Тип адаптива:
// 1 = отзывчивость (у контейнера нет брейкпоинтов),
// 2 = по брейк-поинтам (контейнер меняет свою ширину по брейк-поинтам)
$responsiveType: 2;

// Брейк-поинты
$pc: em(1169.98 + $containerPadding); // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$tablet: em(929.98 + $containerPadding); // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: em(609.98 + $containerPadding); // Телефоны L
$mobileSmall: em(449.98 + $containerPadding); // Телефоны S

// Обнуление и общие параметры ============================================================================================================================================================================================== =============================================================================================== ===============================================================================================
@import "base/null";

body {
	color: $mainColor;
	background-color: $bgColor;
	// Скролл заблокирован
	.lock & {
		overflow: hidden;
		touch-action: none;
	}
	// Сайт загружен
	.loaded & {
	}
}
// Оболочка ============================================================================================================================================================================================================================================================================================================================================================================================================================================
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	// Прижимаем footer
	> main {
		flex: 1 1 auto;
	}
	// Фикс для слайдеров
	> * {
		min-width: 0;
	}
}

// Ограничивающий контейнер ======================================================================================================================================================================================================================

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
@if ($responsiveType==1) {
	// Отзывчивая
	[class*="__container"] {
		@if ($maxWidthContainer>0) {
			max-width: rem($maxWidthContainer);
			box-sizing: content-box;
			margin: 0 auto;
		}
		@if ($containerPadding>0) {
			padding: 0 rem(math.div($containerPadding, 2));
		}
	}
} @else {
	// По брейк-поинтам
	[class*="__container"] {
		margin: 0 auto;
		@if ($maxWidthContainer>0) {
			max-width: rem($maxWidthContainer);
			box-sizing: content-box;
		} @else {
			@if ($containerPadding>0) {
				padding: 0 rem(math.div($containerPadding, 2));
			}
		}
		@media (max-width: $pc) {
			max-width: rem(960);
		}
		@media (max-width: $tablet) {
			max-width: rem(640);
		}
		@media (max-width: $mobile) {
			max-width: rem(480);
		}
		@media (max-width: $mobileSmall) {
			max-width: rem(320);
		}
	}
}

// Подключение базовых стилей, шаблонов (заготовок) и вспомагательных классов
// Для подключения/отключения конкретных стилей смотри base.scss
@import "base";

// Подключение стилей общих элементов проекта
@import "common";

// Подключение стилей отдельных блоков
@import "header";
@import "footer";

// Подключение стилей отдельных страниц
@import "home";
@import "iceland";
@import "booking";

//==================================================================================

.page {
	// .page__cover
	&__cover {
	}
	// .page__about
	&__about {
	}
	// .page__organizers
	&__organizers {
	}
	// .page__traveling
	&__traveling {
	}
	// .page__reviews
	&__reviews {
	}
	// .page__phrase
	&__phrase {
	}
	// .page__question
	&__question {
	}
	// .page__booking
	&__booking {
	}
}

.page-travel {
	// .page-travel__cover
	&__cover {
	}
	// .page-travel__attractions
	&__attractions {
	}
	// .page-travel__phrase
	&__phrase {
	}
	// .page-travel__program
	&__program {
	}
	// .page-travel__price
	&__price {
	}
}
